* {
  background: white;
  font-family: "Ubuntu", "Segoe UI", "Times New Roman", Times, serif;
  font-size: 16pt;
}

stackswitcher button {
  background-color: rgb(245, 245, 245);
  border-style: none;
  min-width:400px;
  padding: 24pt;
  margin: 0px;
  border-color: rgb(192,192,192);
  border-style: solid;
}

stackswitcher button label {
  background-color: rgb(245, 245, 245);
  border-style: none;
  color: black;
  font-size: 18pt;
}

stackswitcher button:checked
{
  background-color:  rgb(0, 112,173);
}

stackswitcher button:checked label {
  background-color:  rgb(0, 112,173);
  color: white;
}

treeview.view {
  padding: 10px;
}

treeview.view:hover {
  background-color: rgb(220, 220, 220);;
  color: black;
}

treeview.view:selected {
  background-color: rgb(0, 112,173);
  color: white;
}

.box {

  margin-left: 350px;
  margin-right: 350px;
}

#searchlabel {
  margin-top:1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
}

#filtertext {
  margin-bottom: 1em;
}

#formlabel {
  margin-top:1.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
}

checkbutton check {
  color: black;
}

.buttonregperson {
  background-color: rgb(0, 112,173);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 44px;
  min-width: 200px;
  min-height: 40px;
}

.buttonregperson label {
  background-color: rgb(0, 112,173);
  color: white;

}
